body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background: url('/assets/images/backgrounds/background_1.png') no-repeat center center fixed;
  background-size: cover;
}

.card {
  background-color: #eee;
  color: #555;
  font-family: 'Inter';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 3px 3px 12px #00000030;
}

.gamelogo {
  width: 100px;
  height: 100px;
}

img {
  width: 100%;
  height: auto;
}

.game-name {
  color: #2b53cc;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Rubik';
}

.game-info {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: #2b53cc;
  color: #eee;
  font-weight: bold;
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: #193fb3;
}